<p>
  <b>Action:</b>
  <%=h @scheduler.action %>
</p>

<p>
  <b>Next:</b>
  <%=h @scheduler.next %>
</p>

<p>
  <b>Interval:</b>
  <%=h @scheduler.interval %>
</p>


<%= link_to Sgtn.t('schedulers.Edit', 'views'), {:action=>"edit",:id=>@scheduler.id} %> |
<%= link_to Sgtn.t('schedulers.Back', 'views'), {:action=>"index"} %>
