<li>
  <h3><%= group.name %></h3>
  <p><b><%= group.assessment_user_data.all.map{|aud| aud.course_user_datum.full_name }.join(", ") %></b></p>
  <p>
    <%= link_to Sgtn.t('groups.Ask.to.Join.Group', 'views'), [:join, @course, @assessment, group], method: :post %>
    <% if @cud.instructor then %>
      | <%= link_to Sgtn.t('groups.View', 'views'), [@course, @assessment, group] %>
      | <%= link_to Sgtn.t('groups.Destroy', 'views'), [@course, @assessment, group], method: :delete, data: { confirm: Sgtn.t('groups.Are.you.sure.you.want.to.disband.this.group', 'views') } %>
    <% end %>
  </p>
</li>