<% @title = "Manage Submissions" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "datatable.adapter" %>

  <style>
    table [type="checkbox"] + label {
      width: 18px;
      padding: 0;
    }

    #floater {
      z-index: 5;
    }
  </style>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash" %>
  <%= javascript_include_tag "sorttable" %> 
  <%= external_javascript_include_tag "jquery.dataTables" %>
  <%= javascript_include_tag "manage_submissions" %>
<% end %>

<h3>Manage Submissions</h3>
<hr>

<p>
    <%= link_to Sgtn.t('submissions.Create.New.Submission', 'views').html_safe, new_course_assessment_submission_path(@course, @assessment),
        {:title=>Sgtn.t('submissions.Create.a.new.submission.for.a.student.with.an.option.to.submit.a.handin.file.on.their.behalf', 'views'),
         :class=>""} %>
         |
    <%= link_to Sgtn.t('submissions.Download.All.Submissions', 'views').html_safe,
        downloadAll_course_assessment_submissions_path(@course, @assessment),
        {:title=>Sgtn.t('submissions.Down.all.submissions.from.each.student', 'views'),
         :class=>""} %>
         |
    <%= link_to Sgtn.t('submissions.Download.Final.Submissions', 'views').html_safe,
        downloadAll_course_assessment_submissions_path(@course, @assessment, final: true),
        {:title=>Sgtn.t('submissions.Download.the.most.recent.submission.from.each.student', 'views'),
         :class=>""} %>
         |
    <%= link_to Sgtn.t('submissions.Missing.Submissions', 'views').html_safe,
        missing_course_assessment_submissions_path(@course, @assessment),
        {:title=>Sgtn.t('submissions.List.the.students.who.have.not.submitted.anything.You.ll.be.given.the.option.to.create.new', 'views'),
         :class=>""} %>

</p>
<div class="row">
  <% if @autograded then %>
    <div class="col s3">
    <%= link_to Sgtn.t('submissions.Regrade.All', 'views'),
        [:regradeAll, @course, @assessment],
        { method: :post,
         :title=>Sgtn.t('submissions.Regrade.the.most.recent.submission.from.each.student', 'views'),
         :confirm=>Sgtn.t('submissions.Are.you.sure.you.want.to.do.this.It.will.regrade.the.most.recent.submission.from.each.student.which', 'views'),
         :class=>"btn"} %>
    </div>
    <div class="col s3 offset-s6">

    <%= link_to Sgtn.t('submissions.Regrade.0', 'views'),
        [:regradeBatch, @course, @assessment],
        { method: :post,
         :title=>Sgtn.t('submissions.Regrade.the.most.recent.submission.from.each.student', 'views'),
         :class=>"btn float-right",
         :id => "batch-regrade",
         :style => "display:none;"} %>
    </div>
  <% end %>
</div>
<table class="prettyBorder" id="submissions">
  <% headers = ["Submitted By", "Version", "Score", "Submission Date (YYYY-MM-DD)", "File", "IP Address", "Actions", "isLatest"] %>
  <thead class="float">
    <tr>
      <th></th>
    <% for header in headers %>
      <th><%= header %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% for submission in @submissions %>
    <tr id="row-<%= submission.id %>" class="submission-row">
      <td>
        <p>
          <label>
            <input class="cbox" type="checkbox" id="cbox-<%= submission.id %>">
            <span/>
          </label>
        </p>
      </td>
      <td><%= [submission.course_user_datum.last_name, submission.course_user_datum.first_name].reject(&:blank?).join(', ') %>
      <%= link_to submission.course_user_datum.email,
                      history_course_assessment_path(@course, @assessment, cud_id: submission.course_user_datum_id, partial: true),
                      {remote: true, class: :trigger}

          %></td>
      <!-- TODO: for now, until rewrite -->
      <td style="<%= ignored_submission_style submission %>"><%= submission.version %></td>

      <td><%= computed_score { submission.final_score(@cud) } %></td>

      <td><span class="moment-date-time"><%= submission.created_at.in_time_zone.to_s %></span></td>
      <!-- TODO: for now, until rewrite -->
      <td style="<%= ignored_submission_style submission %>">
        <% if submission.filename then %>
          <%= link_to "#{submission.filename}",
                download_course_assessment_submission_path(@course, @assessment, submission) %>
        <% else %>
          None
        <% end %>
      </td>
      <td>
        <%= submission.submitter_ip %>
      </td>
      <td class="exclude-click" style="text-align:center;">
        <% if @autograded and submission.version > 0 then %>
          <%= button_to [:regrade, @course, @assessment, submission_id: submission.id],
               :method => :post,
               :title=>Sgtn.t('submissions.Rerun.the.autograder.on.this.submission', 'views'),
               :class=>"btn small" do %>
               <i class='material-icons'>autorenew</i>
        <% end %>
        <% end %>
        <%= link_to "<i class='material-icons'>#{Sgtn.t('submissions.edit', 'views')}</i>".html_safe, [:edit, @course, @assessment, submission],
            {:title=>Sgtn.t('submissions.Edit.the.grading.properties.of.this.submission', 'views'),
              :class=>"btn small"} %>
        <%= link_to "<i class='material-icons'>#{Sgtn.t('submissions.delete', 'views')}</i>".html_safe, destroyConfirm_course_assessment_submission_path(@course, @assessment, submission),
            {:title=>Sgtn.t('submissions.Destroy.this.submission.forever', 'views'),
              :class=>"btn small"} %>
      </td>
      <td><%= submission.latest? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="gradeBackdrop">
</div>

<div id="floater">
</div>
