<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
<% end %>

<h2>Missing Submissions for <%= link_to @assessment.display_name, [@course, @assessment] %> </h2>

<%= link_to Sgtn.t('submissions.Back.to.Manage.Submissions', 'views'), 
    course_assessment_submissions_path(@course, @assessment),
    {:title=>Sgtn.t('submissions.Return.to.the.previous.page', 'views')}
%> 
|
<%= link_to Sgtn.t('submissions.Manage.Extensions', 'views'),
    course_assessment_extensions_path(@course, @assessment),
    {:title=>Sgtn.t('submissions.Grant.extensions.to.students', 'views')} %> 
|
<%= link_to Sgtn.t('submissions.Fill.In.Empty.Submissions', 'views'), 
    new_course_assessment_submission_path(@course, @assessment, course_user_datum_id: @missing.collect{ |u| u[:id]}.join(',')),
    {:title=>Sgtn.t('submissions.Create.submissions.for.all.of.the.missing.students', 'views')} %>

<p>
<%= @users %>
<table class="prettyBorder sortable">
  <thead class="float">
    <tr>
    <th>Student</th>
    <th>Has extension?</th>
    <th>Can Submit Until</th>
    <th>Create Submission</th>
    </tr>
  </thead>
  <tbody>
  <% for student in @missing %>
    <tr>
      <td><%= student[:email] %></td>
      <td><%= student[:aud].extension ? "yes" : "no" %></td>
      <td><%= end_at_display student[:aud].end_at %></td>
      <td><%= link_to Sgtn.t('submissions.Create.Submission', 'views'), 
               new_course_assessment_submission_path(@course, @assessment, course_user_datum_id: student[:id]),
               {:title=>Sgtn.t('submissions.Create.a.submission.for.this.student.with.the.option.to.handin.a.file.on.their.behalf', 'views')} %>
      </td>
    </tr>
  <% end %>
  <% if @missing.size == 0 then %> 
    <tr><td colspan=5>No Missing Submissions!</td></tr>
  <% end %>
  </tbody>
</table>
