<% @title = "Course Admin" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "student_gradebook" %>
<% end %>
<% content_for :javascripts do %>
  <script>
    function toggleAria(id) {
        var expanded = document.getElementById(id).getAttribute("aria-expanded");
        if (expanded == "true") {
            expanded = "false"
        } else {
            expanded = "true"
        }
        document.getElementById(id).setAttribute("aria-expanded", expanded);
    }
    $(document).ready(function() {
      $('.collapsible').collapsible();
    })
  </script>
<% end %>
<div class="row">
  <div class="col s12 m12">
    <h2>Manage Course</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <ul class="collapsible" data-collapsible="accordion">
      <li class="collapsible-menu-link active" id="admin-course" aria-role="button" aria-expanded="true" onclick="toggleAria('admin-course')" onkeydown="toggleAria('admin-course')">
        <div class="collapsible-header active"><h5>Admin Course</h5></div>
        <div class="collapsible-body">
          <ul class="options">
            <li><%= link_to Sgtn.t('courses.Course.settings', 'views'), [:edit, @course],
                { title: Sgtn.t('courses.Modify.the.properties.for.this.course', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Manage.course.users', 'views'), [:users, @course],
                { title: Sgtn.t('courses.Create.modify.and.delete.user.accounts', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Install.assessment', 'views'), [:install_assessment, @course, :assessments],
                { title: Sgtn.t('courses.Create.an.assessment.from.scratch.or.install.one.from.an.existing.directory', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Send.bulk.email', 'views'), [:email, @course],
                { title: Sgtn.t('courses.Send.an.email.to.everyone.in.the.class', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Manage.course.attachments', 'views'), [@course, :attachments],
                { title: Sgtn.t('courses.Distribute.files.to.your.students', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Manage.announcements', 'views'), [@course, :announcements],
                { title: Sgtn.t('courses.Manage.announcements.via.banners.on.either.front.page.or.all.pages.persistent', 'views') } %></li>

            <li><%= link_to Sgtn.t('courses.Manage.schedulers', 'views'), [@course, :schedulers],
                { title: Sgtn.t('courses.Set.and.update.scheduler.for.log.submissions.Advanced.feature', 'views')} %></li>
            <li><%= link_to Sgtn.t('courses.Act.as.user', 'views'), [:sudo, @course, @cud],
                { title: Sgtn.t('courses.Temporarily.become.another.user', 'views') } %></li>
            <li><%= link_to Sgtn.t('courses.Run.Moss.cheat.checker', 'views'), [:moss, @course],
                { title: Sgtn.t('courses.Use.the.Stanford.Moss.server.to.detect.copying', 'views') } %></li>

            <li class="collection-item red-text danger-bottom no-hover"><h4>Danger Zone</h4></li>
            <li class="danger-side"><%= link_to Sgtn.t('courses.Release.all.grades', 'views'), [:bulk_release, @course, @cud, :gradebook],
                { title: Sgtn.t('courses.Release.all.grades.for.all.assessments', 'views'), data: {confirm: Sgtn.t('courses.Are.you.sure.you.want.to.release.all.grades', 'views'), method: "post"}} %></li>
            <li class="danger-side danger-bottom"><%= link_to Sgtn.t('courses.Reload.course.config.file', 'views'), [:reload, @course],
                { title: Sgtn.t('courses.Reload.each.time.you.modify.the.course.rb.file', 'views'), data: {confirm: Sgtn.t('courses.Are.you.sure.you.want.to.reload.the.course.config.file', 'views'), method: "post"}}%></li>
          </ul>
        </div>
      </li>
    </ul>
    <% if @cud.user.administrator? then %>
    <ul class="collapsible" data-collapsible="accordion" id="admin-autolab" aria-role="button" aria-expanded="false" onclick="toggleAria('admin-autolab')" onkeydown="toggleAria('admin-autolab')">
      <li class="collapsible-menu-link">
        <div class="collapsible-header"><h5>Admin Autolab</h5></div>
        <div class="collapsible-body">
          <ul class="options">
            <li><%= link_to Sgtn.t('courses.Create.new.course', 'views'), new_course_path,
                          {:title=>Sgtn.t('courses.Create.a.new.course', 'views')} %></li>
            <li><%= link_to raw('<span class="button">Manage users</span>'),
                          users_path %></li>
          </ul>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
  <!-- course / assessment statistics -->
  <div class="col s12 m8">
    <div class="category">
      <table class="stats-table">
        <colgroup>
          <col class="asmt_names">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
        </colgroup>
        <thead>
        <tr class="header">
          <th>Category Averages</th>
          <th>Mean</th>
          <th>Median</th>
          <th>Std. Dev.</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <%
           # filter only for category / course average
           @course_stats.filter{|_, statsValue| statsValue[0] == "avg"}
                        .each do |name, statsValue|
        %>
          <% stats = statsValue[2] %>
          <tr>
            <td>
              <%= name %>
            </td>
            <td><%= stats[:mean] %></td>
            <td><%= stats[:median] %></td>
            <td><%= stats[:stddev] %></td>
            <td><%= stats[:min] %></td>
            <td><%= stats[:max] %></td>
          </tr>
        <% end %>
        </tbody>
        <tbody>
        <%
          # filter for only assessments, group into hashes based on category
          @course_stats.filter{|_, statsValue| statsValue[0] == "asmt"}
                        .group_by{|_, statsValue| statsValue[1].category_name}
                        .each do |category_name, category_asmts|
        %>
          <thead>
          <tr class="header">
            <th><%= category_name %> Averages</th>
            <th>Mean</th>
            <th>Median</th>
            <th>Std. Dev.</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
          </thead>
        <% category_asmts.each do |name, statsValue| %>
          <% asmt = statsValue[1] %>
          <% stats = statsValue[2] %>
          <tr>
            <td>
                <%= link_to asmt.display_name, course_assessment_path(@course, asmt) %>
            </td>
            <td><%= stats[:mean] %></td>
            <td><%= stats[:median] %></td>
            <td><%= stats[:stddev] %></td>
            <td><%= stats[:min] %></td>
            <td><%= stats[:max] %></td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
